<% if resource.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <b><%= t('.header', count: resource.errors.count) %></b>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <%= content_tag :li, message %>
        <% end %>
      </ul>
  </div>
<% end %>
