<footer class="footer">
  <div class="container text-center">
    <%= current_year %> |
    <span><%= t('.author') %></span> |
    <%= github_url('naveuz', 'test-guru') %> |
    <%= link_to t('.school'), 'http://thinknetica.com/', target: :blank %>
  </div>
</footer>
