<div>
  <hr>
  <%= current_year %> |
  <span>Александр Зуев</span> |
  <%= github_url('naveuz', 'test-guru') %> |
  <a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
</div>
